:root {
  @apply bg-gray-100 text-white-normal;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  outline: none;
}

.landing-page {
  /* height: calc(100vh - 300px);  */
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.zc-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.zc-container .text-content {
  text-align: center;
  /* background-image: -webkit-linear-gradient(290deg, #2a2a2a, #383838);
  background-image: -o-linear-gradient(290deg, #2a2a2a, #383838);
  background-image: linear-gradient(160deg, #2a2a2a, #383838); */
  padding: 100px 30px;
  width: 100%;
  border-radius: 10px;
  position: relative;
  z-index: 2;
}

.zc-container .text-content:after {
  position: absolute;
  content: '';
  left: 30px;
  top: 30px;
  bottom: 30px;
  right: 30px;
  /* border: 1px dashed rgba(233, 236, 53, 0.5);
  border-radius: 10px; */
  z-index: -1;
}

.zc-container .text-content h1 {
  font-size: 24px;
}

.zc-container h1 {
  color: #fff;
  /* text-transform: uppercase; */
  font-weight: 700;
}

.zc-bet-btn-base {
  background: #fae62f;
  text-decoration: none;
  outline: none;
}

.zc-bet-btn {
  /* background: #ddd; */
  display: inline-block;
  padding: 0 20px;
  height: 50px;
  font-size: 15px;
  /* text-transform: uppercase; */
  font-weight: 500;
  line-height: 50px;
  border-radius: 6px;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

 

.zc-animations {
  left: 0;
  bottom: -30%;
}

.zc-bet-martet { 
  text-decoration: none;
  outline: none;
  color:#fff;
  /* font-weight: 700; */
  /* font-size: large; */
}

@media (min-width: 576px) {
  .landing-page {
    margin-top: 50px;
  }

  .zc-container {
    max-width: 500px;
  }

  .zc-container .text-content h1 {
    font-size: 28px;
  }
}

@media (min-width: 768px) {
  .landing-page {
    margin-top: 50px;
  }

  .zc-container {
    max-width: 620px;
  }

  .zc-container .text-content h1 {
    font-size: 32px;
  }
}

@media (min-width: 992px) {
  .landing-page {
    margin-top: 100px;
  }

  .zc-container {
    max-width: 860px;
  }

  .zc-container .text-content h1 {
    font-size: 40px;
  }

  .zc-animations {
    left: -25%;
    bottom: -25%;
  }
}

@media (min-width: 1200px) {
  .landing-page {
    margin-top: 120px;
  }

  .zc-container {
    max-width: 1040px;
  }

  .zc-container .text-content h1 {
    font-size: 45px;
  }
}